<!DOCTYPE html>
<html>

<head>
    <title>multer-gridfs-storage</title>
</head>

<body>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <h1> This is the secret page</h1>
        <input type="file" name="file" placeholder="Upload file">
        <br>
        <input type="submit" value="UploadFile">
        <br>    
        <li><a href="/download/:filename">view all files</a></li>
        <li><a href="/login">Login</a></li>
        <br>
        <li><a href="/logout">Logout</a></li>
    </form>
</body>

</html>